.style__primary___1CNL_ {
  background: 'green';
}

.style__warning___3iwrM {
  background: 'yellow';
}

.style__button___2AmtX {
  padding: 1em;
}

.style__app___3PY6N p {
  color: blue;
}

.style__primaryButton___2FrP- {
  background: 'yellow';
  width: '100px';
  background-color: yellow;
}
